<<<<<<< HEAD

.recentSubContainer {
    color: black;
    background: white;
    border: solid 2px #CCCCCC;
}


.img-circle{
border-radius: 50%
=======
body { 
    background-image: url('../../public/dogback.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
>>>>>>> bc0b9fd... css stylin
}

.imgSubmissionContainer{
	position: absolute;
	right: 200px;
	top: 650px;
}
.logoutContainer {
	position: absolute;
	right: 175px;
}

#subPost{
   position: relative;
   left: 150px;
   width: 375px;
}

.submitContainer {
    color: black;
    background: white;
    border: solid 2px #CCCCCC;
    position: relative;
    left: 150px;
    width: 375px;

}


.submitContainer label {
    width:100px;
    clear:left;
    text-align:right;
}

// #subtype {
//     text-align: right;
//     right: 100px
// }

.InfoBox {
    color: black;
    background: white;
    border: solid 2px #CCCCCC;
}

.infoboxdate {
    color: green;
    border: solid 1px #CCCCCC;
    display: table;
    padding: 4px;
    margin: 4px 4px 0px 4px;
}


.infoboxlocation {
    color: black;
    border: solid 2px #CCCCCC;
    display: table;
    padding: 4px;
    margin: 4px 4px 0px 4px;
}


.infobox-topdesc {
    text-align: center;
}

.inputLog {
  position: relative;
  right: 150px;
}

.inputReg {
  position: relative;
  right: 150px;
}

.infoboxtopic {
    color: black;
}

.infoboxuser {
    color: green;
}

#commentButton{
    padding: 10px;
}

.submissionButton {
    background-color: #808080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    position: relative;
    left: 90px;
    bottom: 25px;
}

#selectValue {
    position: relative;
    left: 68px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

#topicTitle {
  position: relative;
  left: 110px;
}

#date {
  position: relative;
  left: 102px;
}


.form-control{
	position: relative;
    left: 80px;
    bottom: 5px;
    display:block;
	overflow: scroll;
	height: 150px;
	width: 275px;
	font-size: 14px;
}

.picUpload{
    position: relative;
    bottom: 0px;
}

#uploadButton {
    position: relative;
    left: 168px;
    bottom: 25px;
}

#commentDate {
  opacity: 0.6;
}

#commentUser {
  color: green;
}

.logoutButton{
	  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    right: 50px;
    top: 102px
} 
<<<<<<< HEAD
=======

/*.logoutButton {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  padding: 0 20px 0 73px;
  border: none;
  font: normal 20px/2.4 "Open Sans", Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  text-transform: capitalize;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(183,183,183,1);
  -webkit-box-shadow: 0 5px 0 0 rgba(182,186,193,1) ;
  box-shadow: 0 5px 0 0 rgba(182,186,193,1) ;
  text-shadow: 0 1px 1px rgba(87,151,180,0.36) ;
  -webkit-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
  top: -103px;
  right: -1070px;
}

.logoutButton:hover {
  background: rgba(86,9,9,1);
  -webkit-box-shadow: 0 5px 0 0 rgba(99,25,25,1) ;
  box-shadow: 0 5px 0 0 rgba(99,25,25,1) ;
  text-shadow: 0 1px 1px rgba(81,127,147,0.36) ;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.logoutButton:active {
  top: 2px;
  background: rgba(91,125,193,1);
  -webkit-box-shadow: 0 3px 0 0 rgba(107,0,0,1) ;
  box-shadow: 0 3px 0 0 rgba(107,0,0,1) ;
  text-shadow: 0 1px 1px rgba(87,151,180,0.36) ;
}

.logoutButton::before {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 50px;
  height: 100%;
  position: absolute;
  content: "";
  cursor: pointer;
  top: 0;
  left: 0;
  border: 0 solid #018dc4;
  border-right: 1px solid rgba(255,255,255,0.2);
  font: normal medium/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("http://enjoycss.com/bg-img/custom/14465-i6n10r.png"), rgba(180,180,180,1);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: cover;
  background-size: cover;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
} */
>>>>>>> 457798a... formatting, lf and archive and almost delete comment

.initLoginButton{
	background-color: #808080;;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    left: 100px;
}

h1 {
    color: maroon;
    text-align: center;
    background: white;
    border: solid 2px #CCCCCC;
    position: relative;
    left: 50px;
} 


h10 {
    color: maroon;
    position:relative;
    right: 30px;
    font-weight: bold;
}

br {
    line-height: 200%;
    }


.mainContainer {
    padding-bottom: 25px;
    position: relative;
    left: 50px;
} 

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 457798a... formatting, lf and archive and almost delete comment
=======
#subHead {
  position: relative;
  left: 50px;
}

>>>>>>> bc0b9fd... css stylin
/*.letsScroll {
    height: px;
    overflow-y: auto;
} */

>>>>>>> 457798a... formatting, lf and archive and almost delete comment
#recentSubUl {
    padding-left: 0px;

}
.recentSubContainer {
<<<<<<< HEAD
    padding-left: 5px;
=======
    padding-bottom: 20px;
    border:solid 2px #CCCCCC;
    color: black;
    background: white;
  /*  border: solid 2px #CCCCCC;*/
>>>>>>> bc0b9fd... css stylin
}

.recentComContainer {
    position: relative;
<<<<<<< HEAD
    right: 55px;
    padding-left: 0px;

<<<<<<< HEAD
<<<<<<< HEAD
    padding-left: 5px;
}
=======
=======
>>>>>>> 457798a... formatting, lf and archive and almost delete comment
=======
    right: 0px;
    background: white;
    border:solid 2px #CCCCCC;
>>>>>>> bc0b9fd... css stylin
}


.comments-list li {
    margin-bottom: 5px;
    display: block;
    position: relative;

}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
    background: white;
}

.reply-list {
    padding-left: 50px;
    clear: both;
    margin-top: 5px;
}

.locationS {
  font-style: italic;
  color: #3d7208;
  position: relative;
  bottom: 7px;

}

.userSub{
    color: #3d7208;
    margin-left: -32px;
    position: relative;
    top: 20px;
}

.typeOfSub {
   float:right;
   color: #510400;
}

.fdSub {
  position: absolute;
  left: 350px;
  bottom: -20px;
}

.imgStyle{
  height: 125px;
  width: 125px;
  border-radius: 15px;
}

.descriptionSub {
  width: 325px;
  word-wrap: break-word;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: .5em 2em;
    width: 90%;

}


#posted {
    color: black;
    float: left;
<<<<<<< HEAD
}
>>>>>>> 457798a... formatting, lf and archive and almost delete comment
=======
}
>>>>>>> 457798a... formatting, lf and archive and almost delete comment
