
.imgSubmissionContainer{
	position: absolute;
	right: 200px;
	top: 650px;
}
.logoutContainer {
	position: absolute;
	right: 200px;
}


.submitContainer label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

// #subtype {
//     text-align: right;
//     right: 100px
// }

.InfoBox {
    color: black;
    background: white;
    border: solid 2px #CCCCCC;
}

.infoboxdate {
    color: green;
    border: solid 1px #CCCCCC;
    display: table;
    padding: 4px;
    margin: 4px 4px 0px 4px;
}


.infoboxlocation {
    color: black;
    border: solid 2px #CCCCCC;
    display: table;
    padding: 4px;
    margin: 4px 4px 0px 4px;
}


.infobox-topdesc {
    text-align: center;
}

.infoboxtopic {
    color: black;
}

.infoboxuser {
    color: green;
}

#commentButton{
    padding: 10px;
}

.submissionButton {
    background-color: #808080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.form-control{
	display: block;
	overflow: scroll;
	height: 150px;
	width: 250px;
	font-size: 16px;
}

.logoutButton{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    right: 50px;
    top: 105px
}

.initLoginButton{
	background-color: #808080;;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    left: 100px;
}

h1 {
    color: maroon;
    margin-left: 40px;
} 

br {
    line-height: 200%;
    }