.submitContainer {
	position: absolute;
	right: 200px;
	top: 500px;
}
.imgSubmissionContainer{
	position: absolute;
	right: 200px;
	top: 650px;
}
.logoutContainer {
	position: absolute;
	right: 200px;
}

.recentSubmissionContainer{
	display: block;
	word-wrap: break-word;
	width: 650px;

}
#location {

}
.InfoBox {
    color: hotpink;
    background: papayawhip;
    border: solid;
}

.infoboxdate {
    color: green;
}
#topicTitle {
	
}


#selectValue {

}
.submissionButton {
    background-color: #808080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.form-control{
	display: block;
	overflow: scroll;
	height: 150px;
	width: 250px;
	font-size: 16px;
}
.logoutButton{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    right: 100px;
}

.initLoginButton{
	  background-color: #808080;;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    right: 100px;
}

h1 {
    color: maroon;
    margin-left: 40px;
} 

br {
    line-height: 200%;
    }