.board{
    padding: 75px;
    margin: 0px 0px 0px 0px;
    position: static; left: 500px;
}

.board .container {
   background-color: #C0C0C0 ;
   padding-top: 0px;
   padding-bottom: 20px;
   padding-left: 20px;
   padding-right: 10px;
   border-radius: 15px;
   border-color:#d2d2d2 ;
   border-width: 5px;
   box-shadow:0 1px 0 #cfcfcf ;
   margin: 0px 560px 0px 0px;
   box-shadow:0 5px 0 #cfcfcf;
   position: static; left: 290px;

}


h2 {
    font-family: sans-serif;
    text-align: center;

} 

input{
  position: relative; left: 202px;
}

.imgs{
    size: 40px;
}

.logger{  

    margin: 150px 200px 0px 200px; 

    position:static; bottom:290px; right: 450px;
    font-size: 30px;
    background-color: #C0C0C0 ;
    padding: 0px 50px 5px 50px; /* 50 was 350 first*/
    border-radius: 5px;
    
}


.reggy{
    margin: 150px 600px 0px 450px;
    position:static; bottom:290px;
    font-size: 30px;
    background-color: #C0C0C0 ;
    padding: 0px 20px 5px 50px; /* 175 was 5 first*/
    border-radius: 5px;
    position: static; left: 352px;


}

.reggy:hover {
    color: #721010 ;
}

.logger:hover {
    color: #721010 ;
    
}

.loginButton{
    font-family: Monaco;
    color: white;
    background-color: #561111 ;
    border-radius: 5px;

}

button{
    position: absolute; left: 310px;

}

.loginButton:hover {
    background: black;

}

.registerButton {
    font-family: Monaco;
    color: white;
    background-color: #561111 ;
    border-radius: 5px;
    position: absolute; left: 290px;
}

.registerButton:hover {
    background-color: black;
}